{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="/"><i class="fa fa-home"></i> Accueil</a>
                        <span>Connexion</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Connectez-vous</h2>
                        <form form action="{{ path('login') }}" method="post">
                        {% if error %}
                            <div class="alert alert-danger">
                                <p>{{ error.messageKey | trans(error.messagedata, 'security')}}</p>
                            </div>
                        {% endif %}
                        <div class="group-input">
                            <label for="inputEmail">Nom d'utilisateur</label>
                            <input id="inputEmail" type="email" name="email" class="form-control" value="{{ last_username }}">
                        </div>
                        <div class="group-input">
                            <label for="inputPassword">Mot de passe</label>
                            <input id="inputPassword" type="password" name="password" class="form-control">
                        </div>

                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}">
                        

                        <div class="group-input gi-check">
                            <div class="gi-more">
                                <label for="remember_me">
                                    Se souvenir de moi
                                    <input type="checkbox" id="remember_me" name="_remember_me">
                                    <span class="checkmark"></span>
                                </label>
                                <a href="#" class="forget-pass">Mot de passe oublié</a>
                            </div>
                        </div></br>

                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary" value="login">
                                Se connecter
                            </button>
                        </div></br>

                        </form>
                        <div class="switch-login">
                            <a href="/register" class="or-login">Ou créer un compte</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}