{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="/"><i class="fa fa-home"></i> Accueil</a>
                        <span>Connexion</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Connectez-vous</h2>
                        <form action="" method="POST">
                            <div class="group-input">
                                <label for="email">Adresse email *</label>
                                <input name="email" type="text" id="email">
                            </div>
                            <div class="group-input">
                                <label for="password">Mot de passe *</label>
                                <input name="password" type="password" id="password">
                            </div>
                            <div class="group-input gi-check">
                                <div class="gi-more">
                                    <label for="save-pass">
                                        Sauvegarder le mot de passe
                                        <input type="checkbox" id="save-pass">
                                        <span class="checkmark"></span>
                                    </label>
                                    <a href="#" class="forget-pass">Mot de passe oublié</a>
                                </div>
                            </div>
                            <button type="submit" class="site-btn login-btn">Se connecter</button>
                        </form>
                        <div class="switch-login">
                            <a href="/register" class="or-login">Ou créez un compte</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}