{% extends 'base.html.twig' %}

{% block title 'Mode edition de produit' %}

{% block body %}
    
    <div class="container mt-4">

        <h2>Editer le produit</h2></br>
        {{ include('admin/product/_form.html.twig', {button: 'Editer le produit'}) }}
        
    </div>
    </br></br>

{% endblock %}
