{% extends 'base.html.twig' %}

{% block title 'Mode edition de produit' %}

{% block body %}
    
    <div class="container mt-4">

        <h2>Ajouter un produit</h2></br>
        {{ include('admin/product/_form.html.twig', {button: 'Ajouter le produit'}) }}

    </div>
    </br></br>

{% endblock %}
